<!-- {{}}  -->
<!-- <p>{{name + ',hello'}}</p>
<p>{{1+1}}</p>
<p>{{false?1+1:name}}</p>
<p>{{true?1+1:name}}</p>
<p>{{date}}</p> -->

<!-- lock  -->
<!-- 
<div [id]="'box1'">lock1</div>
<div [id]="box2">lock2</div>
<p [class]="'item'">class lock1</p>
<p [class]="itemClass">class lock2</p>
<h3 [class.h3-dom]="true">hello {{1+1}}</h3>
<h3 [class.h3-dom]="'true'">hello {{1+1}}</h3>
<h3 [class]="'h3-dom font-w string'"></h3>
<h3 [class]="h3Class"></h3>
<h3 [class]="{'h3-dom':true,'title-dom':false}">hello {{1+1}}</h3>
<h3 [class]="['h3-dom','title-dom']">hello {{1+1}}</h3>
<h3 [ngClass]="{'active':isActive}">ngClass bond</h3> -->

<!-- 
<h3 [style.width]="'300px'">bond</h3>
<h3 [style.width.px]="'300'">bond</h3>
<h3 [style.color]="'red'">bond</h3>
<h3 [style]="'background:red;color:yellow'">M.bond</h3>
<h3 [style]="{'background':'red','color':'yellow'}">M.bond</h3>
<h3 [ngStyle]="{'color':'red'}">ngStyle</h3>
<h3 [ngStyle]="{'font-size':isMax?'24px':'12px'}">hello {{1+1}}</h3> -->

<!-- 
<div *ngIf="isMax">isMax==true</div>
<div *ngIf="!isMax">isMax==false</div>
finished
<ng-template [ngIf]="isMax">
    <div>isMax==true</div>
</ng-template>

<hr>

<ng-container *ngIf="expression;else elseTemplate">
    <div>expression == true</div>
</ng-container>
<ng-template #elseTemplate>
    <div>expression == false</div>
</ng-template> -->

<!-- For loop -->
<!-- <div *ngFor="let color of colors let in=index let isOdd=odd">
    {{isOdd}}
    {{in}}
    {{color}}
</div>

<hr>

<ng-template ngFor let-color [ngForof]="colors" let-i="index" let-odd="odd">
    <div>{{odd}} {{i}} {{color}}</div>
</ng-template> -->


<!-- Switch -->
<!-- <div [ngSwitch]="type">
    <p *ngSwitchCase="1">
        type:1
    </p>
    <p *ngSwitchCase="2">
        type:2
    </p>
    <p *ngSwitchDefault>
        type != 1 && type!=2
    </p>
</div>  -->

<!-- event bond(event type) -->
<!-- 
<input type="text" (input)="inpChange($event)" name="" id="">
<button (click)="clickFun($event)">click me</button> -->

<!-- template apply variable -->
<!-- 
<div #box>
    <input #userName type="text" name="" id="">
    <button></button>
</div>
<button (click)="getUserName(userName.value)">Get userName</button> -->

<!-- two head bond   ngModel only for form value-->
<!-- 
<hr>
<input [(ngModel)]="title" type="text">
<p>title:{{title}}</p>

<hr>
Age:<input type="text" [formControl]="age">
<br>
<p>Age:{{age.value}}</p>
<button (click)="ageChangeFun()">Grow</button> -->


<!-- Form -->
<!-- 
<form [formGroup]="loginForm">
    <label>
        Account:
        <input type="text" formControlName="userName">
    </label>
    <label>
        Password:
        <input type="text" formControlName="password">
    </label>
<button (click)="subFormFun()">Submit</button>
</form>

<hr>

<form action="">
    Account: <input required #nameInp="ngModel" type="text" [(ngModel)]="fromData.name" name="username">
    <br>
    <span *ngIf="!nameInp.valid">please enter username</span>
    <hr>
    Password:<input required #pasInp="ngModel" type="text" [(ngModel)]="fromData.password" name="password">
    <span>{{pasInp.valid}}</span>
    <hr>
    <button (click)="subBtnFun(nameInp)">submit</button>
</form>

<hr> -->

<!-- complicated form -->
<!-- 
<form [formGroup]="valiDataForm">
    <label>
        Account:
        <input required type="text" formControlName="userName">
    </label>
    <br>
    <p *ngIf="valiDataForm.get('userName')?.errors?.['required']">{{"please enter username"}}</p>
    <p *ngIf="valiDataForm.get('userName')?.errors?.['minlength']||valiDataForm.get('userName')?.errors?.['maxlength']">{{"length should between 6-18"}}</p>
    <label>
        Password:
        <input type="text" formControlName="password">
    </label>
    <br>
    <ng-container *ngIf="valiDataForm.get('password')?.errors?.['msg'];else elseTemplate">
        {{valiDataForm.get('password')?.errors?.['msg']}}
    </ng-container>
    <ng-template #elseTemplate>
        OK!
    </ng-template>
    <p *ngIf="valiDataForm.get('password')?.errors?.['msg']"></p>
    <br>
    <label>
        Phone:
        <input type="text" formControlName="phone">
    </label>
    <br>
    <ng-container *ngIf="valiDataForm.get('phone')?.errors?.['msg'];else elseTemplate">
        {{valiDataForm.get('phone')?.errors?.['msg']}}
    </ng-container>
    <br>
    <button (click)="subvaliDataFormFun()">Submit</button>
</form> -->

<!-- pipe -->

<p>{{dateStr | date:'yyyy-MM-dd HH:mm:ss'}}</p>
<p>{{box | uppercase | lowercase}}</p>
<p>{{box | test}}</p>