<!-- Input value -->
<!-- <app-title [title]="title"></app-title>
<button (click)="titleChange()">titleChange</button> -->

<!-- output function -->
<!-- <p *ngFor="let item of list">{{item}}</p>
<app-title #titleDom (addList)="addListFun($event)" [title]="title"></app-title>
<hr>
<button (click)="addFun()">call child</button> -->

<p *ngFor="let item of list">{{item}}</p>
<button (click)="addNode()">Add node</button>
<br>
<a [routerLink]="['/home/list']" routerLinkActive="router-link-active">To List</a>
<!-- child under home -->
<router-outlet></router-outlet>